.container
  .row
    .col-md-8.col-md-offset-2
      %h4 New video
      %form
        .form-group
          %input{:type=>"text", :required => true, :id => "video_url", :placeholder => "YouTube video URL"}
          
        %button{:type => "button", :id => "btnCheckVideo", :class => "btn btn-default"} Submit

       